<!-- <div class="card-container">
    <div class="card">
        <img src="../assets/images/place_holder_1.jpg" alt="Placeholder image" class="card-img img">
        <h3>current price:</h3>
        <button class="card-btn">BID</button>
    </div>
</div> -->